html, body, #root {
    margin: 0px;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(45deg, seagreen, rgb(224, 198, 198));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: blue;
    font-size: 1.5em;
}

.Box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}